asammdf
PySide6
lz4
numexpr
numpy
pandas
typing_extensions
python-dateutil
lxml
natsort
psutil
pyqtgraph
pyqtlet2
pyopengl
fastparquet
scipy
hdf5storage
cryptography
keyring
pyinstaller
pytest
pre-commit
flake8
black